body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}

@font-face {
  font-family: 'Montserat';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  /* Добавьте другие форматы, если нужно (woff, ttf, etc) */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Introy';
  src: url('fonts/introcondblackfree.otf') format('otf');
  /* Добавьте другие форматы, если нужно (woff, ttf, etc) */
  font-weight: normal;
  font-style: normal;
}

header {

  height: 128px;
  position: relative;
  background: linear-gradient(to left, #4d25c6, #33b0e4);
  color: white;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

main {
  height: 700px;
  background-color: #040606;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.profile-info {
  font-family: 'Montserat';
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;

}

.profile-info p:nth-child(1) {
  color: white;
  margin: 55px auto 8px auto;

}

.profile-info p:nth-child(2) {
  color: #ACB0BF;
  margin: 8px auto;
}

.profile-info p:nth-child(3) {
  color: #3F70FF;
  font-size: 40px;
  margin: 10px auto;
  font-weight: bold;
}

.profile-info button {
  font-family: 'Montserat';
  color: white;
  background-color: #272729;
  width: 383px;
  height: 45px;
  border-radius: 15px;
  border: none;
  margin-right: 22px;
  margin-left: 22px;
}

footer {
  background-color: #040606;
  color: white;
  padding: 1rem;
  text-align: center;
}

.main-hero-container {
  top: 128px;
  position: absolute;
  width: 427px;
  background: #0F0F12;
  height: 256px;
  border-radius: 20px;
  overflow: hidden;
}

.user-avatar {
  width: 91px;
  height: 91px;
  z-index: 1;
  top: 80px;
  position: absolute;
}

.user-avatar-bg {
  width: 102px;
  height: 102px;
  top: 76px;
  position: absolute;
}

.user-status {
  width: 15px;
  height: 15px;
  z-index: 2;
  top: 150px;
  position: absolute;
  left: 239px;
}

.hero-options-container {
  position: absolute;
  top: 400px;
  width: 427px;
  background: #0F0F12;
  height: 56px;
  border-radius: 20px;
  overflow: hidden;

}

.hoc-childs {
  display: flex;
  flex-direction: row;

}

.hoc-childs p:nth-child(1) {
  color: white;
  font-family: 'Montserat';
  justify-items: start;
  margin-left: 15px;
}

.hoc-childs p:nth-child(2) {

  font-size: 13px;
  color: #ACADB1;
  font-family: 'Montserat';
  margin-left: 100px;
  margin-top: 17px;
  margin-bottom: 0px;
}

.buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 470px;
}

.button-black {
  margin: 0px 3px;
  border-radius: 40px;
  border: none;
  width: 206px;
  height: 76px;
  padding: 0px;
  background-color: #0F0F12;
  color: white;
  font-family: 'Montserat';
  font-size: 16px;
}

.button-blue {
  margin: 0px 3px;
  border-radius: 40px;
  border: none;
  padding: 0px;
  width: 206px;
  height: 76px;
  background: linear-gradient(to left, #4d25c6, #33b0e4);
  color: white;
  font-family: 'Montserat';
  font-size: 16px;
  text-align: center;
}

.button-blue p:nth-child(1) {
  color: white;
  font-family: 'Montserat';
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.button-blue p:nth-child(2) {
  color: #B9E2FF;
  ;
  font-family: 'Montserat';
  font-size: 20px;
  margin-top: 0px;
}


.hero-publish-list {
  position: absolute;
  top: 565px;
  width: 427px;
  background: #0F0F12;
  height: 56px;
  border-radius: 20px;
  overflow: hidden;
  height: 256px;
}

.hero-publish-list div {
  display: flex;
  flex-direction: row;
}

.hero-publish-list p:nth-child(1) {
  color: white;
  font-family: 'Montserat';
  justify-items: center;
  margin-left: 15px;
}

span {
  margin: auto 270px;
  justify-items: end;
}

.hero-publish-list p:nth-child(2) {
  color: white;
  font-family: 'Montserat';
  justify-items: center;
  margin-left: 15px;
  margin-top: 45px;
}

.chat-bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-bottom-bar button {
  font-family: 'Montserat';
  font-size: 10px;
  color: #57595F;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: auto 8px;
}


header span{
  font-family: 'Montserat';
  font-size: 2rem;
  margin-left: 350px;;
  margin-right: 0px;
}